*{
    margin: 0;
    padding: 0;
    cursor: default;
}
/*Estilos para la portada*/
.imagenprincipal, .imagenprincipal img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.imagenprincipal img{
    height: 120vh;
}
.btncita {
    width: 200px;
    height: 50px;
    background-color: #ffff;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 5vh;
}
.portada{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.portada p{
    position: absolute;
    width: 55%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bolder;
    color: #fff;
    margin-top: -20%;
}
.botones-inicio{
    display: flex;
    position: absolute;
    width: 50%;
    justify-content: center;
    height: 3em;
    text-decoration: none;
}
.botones-inicio a{
    width: 25%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0.5em;
    text-decoration: none;
}

.boton_agendas{
    background-color: rgb(47, 62, 107);
    color: white;
}

.boton_noticias{
    background-color: rgb(209, 218, 219);
    color: #000;
}

.boton_agendas:hover{
    background-color: rgb(29, 66, 177);
    color: white;
}

.boton_noticias:hover{
    background-color: rgb(242, 250, 250);
    color: #000;
}

.servicios{
    background-color: rgb(47, 62, 107);
}

.servicios h1{
    color: #fff;
    padding-top: 1em;
    text-align: center;
    font-family: 'Roboto', 'Russo One', sans-serif;
}

.cuadros-servicio{
    display: grid;
    padding: 3em 4em 3em 4em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.servicio{
    background-color: rgb(209, 218, 219);
    justify-content: center;
    display: grid;
    padding: 20% 20%;
}

.servicio:hover{
    transform: scale(1.02);
}

.servicio h2{
    padding-top: 1em;
    text-align: center;
    font-size: 1.3em;
    color: #000;
}

.servicio img{
    width: 70%;
    margin: 0 15%;
}

.imagen_portada, .imagen_portada img{
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: -1;
}

.noticias h1{
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 0.5em;
}

.cuadros-noticias{
    display: grid;
    padding: 2em 3em 2em 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
}

.cuadros-noticias a{
    text-decoration: none;
    border-color: white;
}

.noticia{
    border: 2px;
    border-style: solid;
}
.noticia p, .noticia h2{
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
}

.noticia img{
    width: 100%;
    height: 300px;
    background-color: silver;
}

/*Estelilos de sección para lso profesionales*/
.productos_top h1{
    color: #fff;
    padding-top: 1.5em;
    text-align: center;
    font-family: 'Roboto', 'Russo One', sans-serif;
}

.cuadros-producto{
    display: grid;
    padding: 3em 10em 3em 10em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
}

.producto{
    background-color: #fff;
    justify-content: center;
    display: grid;
    padding: 0 10%;
}

.producto h2{
    padding-top: 1em;
    text-align: center;
    font-size: 1em;
    color: #003862;
}

.producto img{
    width: 90%;
}

.producto button{
    margin: 2em 0;
    border: 0;
    background-color: #003862;
    padding: 0.5em 0;
}

.producto button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.producto a{
    padding: 2em 2em;
    height: 100vh;
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.portada-nosotros{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255,255,255,0.1));
}

.portada-nosotros p{
    position: absolute;
    width: 80%;
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    margin-top: -10%;
}
.portada-nosotros h1{
    position: absolute;
    width: 80%;
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
}
.equipo{
    background-color: rgb(47, 62, 107);
}

.equipo h1{
    color: #fff;
    padding-top: 1em;
    text-align: center;
    font-family: 'Roboto', 'Russo One', sans-serif;
}

.cuadros-equipo{
    display: grid;
    padding: 3em 4em 3em 4em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.perfil{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 5%;
    border-radius: 30px;
}
.foto img{
    width: 100%;
    border-radius: 50%;
}

.integrante h1{
    color: rgb(36, 181, 201);
    text-align: left;
}



footer{
    padding: 2% 0%;
    background-color: white;
}
footer h1{
    text-align: center;
    font-size: 2em;
}
.social{
    display: flex;
    justify-content: center;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 20px;
}
.social-link.facebook{
    background-image: url('../imagenes/facebook.svg');
}
.social-link.instagram{
    background-image: url('../imagenes/instagram.svg');
}

@media only screen and (max-width: 420px){
    .imagenprincipal img{
        height: 50vh;
    }

    .portada, .portada-nosotros{
        height: 50vh;
    }
    
    .portada p{
        font-size: 1em;
        width: auto;
        font-weight: bolder;
        color: #fff;
        margin-top: -20%;
    }

    .botones-inicio{
        height: 2em;
    }

    .botones-inicio a{
        width: 90%;
        font-size: 0.6em;
    }
    .servicios h1{
        font-size: 1.7em;
    }
    .cuadros-servicio, .cuadros-producto, .cuadros-noticias{
        padding: 1em 2em 1em 2em;
        grid-template-columns: 1fr;
        margin: 0 1.5em;
    }
    .servicio img{
        width: 80%;
    }
    .servicio:hover{
        transform: scale(1);
    }
    .productos_top h1{
        font-size: 1.4em;
    }

    .portada-nosotros p{
        font-size: 1rem;
        padding-bottom: 3em;
    }
    .portada-nosotros h1{
        font-size: 1.4rem;
    }
    .cuadros-equipo{
        padding: 1em 2em 1em 2em;
        grid-template-columns: 3fr;
        margin: 0 0.5em;
    }
    .integrante h1, .integrante h2{
        font-size: 1em;
    }

    footer h1{
        text-align: center;
        font-size: 1em;
    }
    .social-link{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        margin: 0px 20px;
    }
}
@media only screen and (min-width: 421px) and (max-width: 1000px){
    .imagenprincipal img{
        height: 600px;
    }

    .portada, .portada-nosotros{
        height: 500px;
    }
    
    .portada p{
        font-size: 1.5em;
        width: 80%;
        font-weight: bolder;
        color: #fff;
        margin-top: -20%;
    }

    .botones-inicio{
        height: 2em;
    }

    .botones-inicio a{
        width: 40%;
        font-size: 0.9em;
    }
    .servicios h1{
        font-size: 1.7em;
    }
    .cuadros-servicio, .cuadros-producto, .cuadros-noticias{
        padding: 1em 2em 1em 2em;
        grid-template-columns: 1fr 1fr;
        margin: 0 1.5em;
    }
    .servicio img{
        width: 50%;
        margin: 0 25%;
    }
    .servicio:hover{
        transform: scale(1);
    }
    .productos_top h1{
        font-size: 1.4em;
    }

    .portada-nosotros p{
        font-size: 1em;
        padding-bottom: 3em;
    }
    .portada-nosotros h1{
        font-size: 1.4rem;
    }
    .cuadros-equipo{
        padding: 1em 2em 1em 2em;
        grid-template-columns: 1fr 1fr;
        margin: 0 0.5em;
    }
    .integrante h1, .integrante h2{
        font-size: 1em;
    }

    footer h1{
        text-align: center;
        font-size: 1.5em;
    }
    .social-link{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        margin: 0px 20px;
    }
}